h1 {
    font-family: "Sofia";
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center; /*for some reason this doesn't seem to work*/
    align-items: center;
}

#rules {
    height: 500px;
    width: 200px;
    text-align: center;
    text-wrap: wrap;
}

#playArea {
    position: relative;
    height: 500px;
    width: 500px;
    margin: auto;
    background-color: burlywood;
}

#score{
    height: 500px;
    width: 200px;
    text-align: center;
    text-wrap: wrap;
}


#snakeHead {
    position: absolute;
    height: 10px;
    width: 10px;
    top: 245px;
    left: 245px;
    background-color: rgb(5, 53, 5);
    
}

#playArea div {
    transition: 0.2s;
}

.snakeBodyClass {
    position: absolute;
    height: 10px;
    width: 10px;
}

.apple {
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
}