h1 {
    font-family: "Sofia";
    text-align: center;
}

#container {
    margin: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#rules {
    min-width: 200px;
    text-align: center;
    text-wrap: wrap;
}

#rules ul {
    text-align: left;
}

#transitionChoice, #borderChoice, #speedChoice {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 15px;
    margin-bottom: 10px;
}

.onOffCheckBox {
    opacity: 0;
    height: 0px;
    width: 0px;
}

.onOffBottomDiv {
    position: relative;
    width: 35px;
    height: 20px;
    background-color: gray;
    border-radius: 20px;
}

.onOffTopDiv {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 18px;
    height:18px;
    background-color: lightgrey;
    border-radius: 18px;
    transition: 0.2s;
}

#playAreaBorder{
    height: 500px;
    width: 500px;
    z-index: 2;
    border: 5px solid brown;
}

#playArea {
    position: relative;
    height: 500px;
    width: 500px;
    margin: auto;
    background-color: burlywood;
}

#score{
    min-width: 100px;
    text-align: center;
    text-wrap: wrap;
}

#scoreBoardContainer {
    max-width: 75px;
    margin: auto;
}

#snakeHead {
    position: absolute;
    height: 10px;
    width: 10px;
    top: 240px;
    left: 240px;
    background-color: rgb(5, 53, 5);
    
}

.snakeBodyClass {
    position: absolute;
    height: 10px;
    width: 10px;
}

.apple {
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
}

footer {
    text-align: center;
    font-style: italic;
}